<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments :: head(~{::title}, ~{::link})}">
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="container mt-2">
    <div class="rows">
        <div class="col-8 offset-2">
            <nav th:replace="~{fragments :: navbar}"></nav>
            <h1 class="text-center mt-3">Login Page</h1>
            <div th:if="${errorMsg}">
                <h1 class="alert alert-danger" th:text="${errorMsg}"></h1>
            </div>
            <form method="post" action="/login/process">
                <input type="hidden" name="_csrf" th:value="${_csrf.getToken()}">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="pswd">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" name="rem-me" id="rememberMe">
                    <label class="form-check-label" for="rememberMe">Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <a href="/api/auth/register" class="btn btn-success">Register</a>
            </form>
        </div>
    </div>
</div>

<section th:replace="~{fragments :: js}"></section>
</body>
</html>
