<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments :: head(~{::title}, ~{::link})}">
    <meta charset="UTF-8">
    <title>Logout page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="container mt-2">
    <div class="rows">
        <div class="col-8 offset-2">
            <nav th:replace="~{fragments :: navbar}"></nav>
            <h1 class="text-center mt-3">Logout</h1>
            <form method="post">
                <input type="hidden" name="_csrf" th:value="${_csrf.getToken()}">
                <h1 class="alert alert-danger">Are you sure log out?</h1>
                <button type="submit" class="btn btn-danger">Logout</button>
                <a href="/" class="btn btn-success">Back</a>
            </form>
        </div>
    </div>
</div>

<section th:replace="~{fragments :: js}"></section>
</body>
</html>
