<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments :: head(~{::title}, ~{::link})}">
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="container mt-2">
    <div class="rows">
        <div class="col-8 offset-2">
            <nav th:replace="~{fragments :: navbar}"></nav>
            <h1 class="text-center mt-3">Home page</h1>
        </div>
    </div>
</div>

<section th:replace="~{fragments :: js}"></section>
</body>
</html>